body {
    width: 100%;
    margin : 0;
}
.main-container {
    max-width: 80%;
    margin : 100px auto;
}

.top-container {
    display: flex;
    justify-content: space-between;
    height: 45px;
}

.prog-opt {
    width: 100%;
    margin: 0 5px;
    font-size: 18px;
}

.date-input {
    width: 100%;
    margin: 0 5px;
    font-size : 18px;
}

.button-suche {
    width: 200px;
    margin : 0 5px;
    font-size : 18px;
}

.multiselect-container {
    width : 100%;
    margin : 0 5px;
}
.multiselect {
    width: 100%;
    position: relative;
    background-color: white;
    z-index: 9999;
}
  
.selectBox {
    position: relative;
}
  
.selectBox select {
    width: 100%;
    height: 45px;
    font-size: 18px;
}
  
.overSelect {
    position: absolute;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
}
  
#checkboxes {
    display: none;
    border: 1px #dadada solid;
    z-index: 9999;
}
  
#checkboxes label {
    display: block;
}
  
#checkboxes label:hover {
    background-color: #1e90ff;
}

.separator {
    width: 100%;
    margin : 20px 0px;
    height : 2px;
    background-color: black;
}